@{
    ViewData["Title"] = "Employee CTC";
}
<form asp-action="GetCTC" asp-controller="Employee">
    <label>EID</label>
    <input type="number" id="eid" name="eid"/>
    <button type="submit">Submit</button>
</form>