@model MonthlySalaryViewModel
@{
    ViewData["Title"] = "Salary Deposit Form";
}
<h3>Salary Details</h3>
<form asp-action="DepositSalary">
    <div class="mb-3 mt-3">
        <label asp-for="Month" class="col-form-label-sm"></label>
        <select asp-for="Month" asp-items="@Html.GetEnumSelectList<Month>()" class="form-control">
            <option value="">Select Month</option>
        </select>
    </div>    
    <div class="mt-1">
        <label asp-for="LC" class="col-form-label-sm">Leave Count</label>
        <input asp-for="LC" class="form-control" />
    </div>
    <div class="mt-1">
        <label asp-for="Eid" class="col-form-label-sm">EmployeeId</label>
        <input asp-for="Eid" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-1">Deposit</button>
</form>